@model IEnumerable<Mango.Web.Models.ProductDto>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Product List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a class="btn btn-outline-primary" asp-action="CreateProduct"><i class="bi bi-plus-square"></i> Create New Product</a>

			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Product Name
					</th>
					<th>
						Price
					</th>
					<th>
						Category
					</th>
					<th>
						Image
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if (Model == null || Model.Count() == 0)
				{
					<tr>
						<td colspan="4" class="text-center">No Product found.</td>
					</tr>
				}
				else
				{
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@item.Name
							</td>
							
							<td>
								@((item.Price).ToString("c"))
							</td>
							<td>
								@(item.CategoryName)
							</td>
							<td>
								@(item.ImageUrl)
							</td>
							<td>
								<a asp-action="EditProduct" asp-route-productId="@item.ProductId" class="btn btn-success">
									<i class="bi bi-pencil-square"></i>
								</a>
							</td>
							<td>
								<a asp-action="DeleteProduct" asp-route-productId="@item.ProductId" class="btn btn-danger">
									<i class="bi bi-trash"></i>
								</a>
							</td>
						</tr>
					}
				}




			</tbody>
		</table>

	</div>

</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		$(document).ready(function () {
			// Add any JavaScript needed for the Create view here
		});
	</script>
}
